body {
    font-family: var(--custom-font);
    background-color: var(--background-color);
    color: var(--outline-color);
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 5px var(--outline-color);
}

/* TITLE AND HEADER */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.title_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-opacity: 0.5;
    border-bottom: 2px solid var(--emphasis-color);
}

.title_top-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-shadow: 0px 0px 10px var(--outline-color), 1px 1px 10px white;
    border: 2px solid var(--outline-color);
    font-size: xx-large;
    box-shadow: 0px 0px 20px var(--outline-color);
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.header-row-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.hamburger_wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    filter: drop-shadow(0 0 7px var(--outline-color));
    cursor: pointer;
}

.hamburger {
    appearance: none;
    cursor: pointer;
    font-size: smaller;
}

.title {
    box-shadow: 0px 0px 20px var(--outline-color), 0px 0px -20px var(--outline-color);
    padding: 0.5rem;
}

.title_bottom-box {
    width: 100%;
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
}

.title_bottom {
    padding: 0.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.title-wrapper__hate-button {
    align-self: center;
    cursor: pointer;
}

/* MENU STYLING */
.menu_wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    justify-content: flex-start;
    position: relative;
}

.menu {
    height: fit-content;
    width: 100%;
    top: 0;
    flex-wrap: wrap;
}

.menu_button,
.sort_button,
.title-wrapper__hate-button,
.login-button,
.logout-button,
.film-submit-button,
.login-submit-button {
    border: none;
    padding: 0.5rem;
    font-family: inherit;
    background: none;
    cursor: pointer;
    text-shadow: inherit;
    color: var(--outline-color);
    outline: none;
}

.hamburger:hover,
.menu_button:hover,
.sort_button:hover,
.title-wrapper__hate-button:hover,
.login-button:hover,
.logout-button:hover,
.film-submit-button:hover {
    color: var(--hover-color);
    text-shadow: 1px 1px 1px 20px var(--hover-color);
}

/* LOGIN PAGE STYLING */
.close-login-button,
.close-dialog-button {
    background: none;
    border: none;
    padding: 0;
    color: var(--outline-color);
    background: transparent;
    font-family: inherit;
    cursor: pointer;
}

.close-login-button:hover,
.close-dialog-button:hover {
    color: var(--highlight-color);
}

.login-form {
    display: flex;
    width: fit-content;
    height: 10rem;
    gap: rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text],
input[type=date],
input[type=email],
input[type=password] {
    background-color: transparent;
    font-family: inherit;
    color: var(--outline-color);
    border: 1px solid var(--emphasis-color);
}

/* ADD FILMS PAGE STYLING */
.form-elements-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-elements-container label {
    padding: 0.2rem;
}

dialog::backdrop {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-opacity: 0.5;
    opacity: 0.75;
}

.add-film-container {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 100vw;
    margin-bottom: 3rem;
}

.add-film-page,
.login-page {
    font-family: var(--custom-font);
    background-color: var(--background-color);
    color: var(--outline-color);
    border-color: var(--emphasis-color);
    margin: 0;
    padding: 1rem;
    text-shadow: 2px 2px 5px var(--outline-color);
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* ERROR MESSAGE STYLING */
.error-message {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    justify-content: center;
    flex-wrap: wrap;
    font-size: x-small;
    color: var(--error-color);
}

/* BIO PAGE STYLING */
.bio-page {
    display: none;
    padding: 2rem;
}

.bio {
    margin-left: 0;
    width: 100%;
    text-align: left;
}

/* VIDEO CONTENT STYLING */
.list-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
    align-items: stretch;
}

.video-card {
    position: relative;
    width: 30%;
    padding-bottom: 16.875%;
    margin: 1rem;
    border: 2px solid var(--emphasis-color);
    overflow: hidden;
}

.video-card iframe {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.title-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 20%;
    /*background: rgba(0, 0, 0, 0.7);*/
    color: var(--error-color);
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-card:hover .title-overlay {
    opacity: 1;
}



.delete-button {
    font-family: inherit;
    position: absolute;
    top: 0rem;
    right: 0;
    color: var(--delete-color);
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    color: var(--highlight-color)
}

/* CONTACT FOOTER */
footer {
    font-size: smaller;
    border: 1px solid var(--outline-color);
    box-shadow: 0px 0px 20px var(--outline-color);
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    -moz-opacity: 0.5;
    backdrop-filter: blur(10px);
}

.contact {
    position: absolute;
    margin: 0;
    width: 80%;
    text-align: center;
}

/* STATES STYLING */
.highlight {
    color: var(--emphasis-color);
    text-shadow: 1px 1px 1px 20px var(--emphasis-color);
}

.invisible {
    display: none;
}

.visible {
    display: flex;
}

/* RESPONSIVITY STYLING */
@media screen and (max-width: 960px) {
    .video-card {
        position: relative;
        width: 40%;
        padding-bottom: 22.5%;
        margin: 1rem;
        border: 2px solid var(--emphasis-color);
        overflow: hidden;
    }
}

@media screen and (max-width: 720px) {
    .title_wrapper {
        display: flex;
        flex-direction: column;
    }

    .hamburger_wrapper {
        width: 10%;
        display: flex;
        margin-left: 0.5rem;
    }

    .title_top-box {
        font-size: large;
    }

    .title_bottom-box {
        display: flex;
        justify-content: space-between;
    }

    .title_bottom {
        display: flex;
        margin-left: 10%;
    }

    .title-wrapper__hate-button-wrapper {
        width: 20%;
        font-size: small;
        height: max-content;
        display: flex;
        flex-direction: column;
    }

    .centered-title {
        display: flex;
        width: 80%;
        justify-content: flex-start;
        align-items: center.
    }

    .menu {
        display: none;
        margin-left: 10%;
    }

    .title-wrapper__hate-button {
        font-size: x-small;
    }

    .menu_button,
    .sort_button {
        font-size: x-small;
    }

    .video-card {
        position: relative;
        width: 80%;
        padding-bottom: 45%;
        margin-bottom: 1rem;
        margin: 1rem;
        border: 2px solid var(--emphasis-color);
        overflow: hidden;
    }

    .visible {
        display: flex;
    }

    footer {
        font-size: smaller;
        border: 1px solid var(--outline-color);
        box-shadow: 0px 0px 20px var(--outline-color);
        margin-top: 1rem;
        bottom: 0;
        width: 100%;
        position: fixed;
        text-align: left;
        padding-left: 0.5rem;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        -moz-opacity: 0.5
    }
}